<div class="container-fluid">
    <div class="page-header">  
        <br>
        <h5>Contacts</h5> 
    </div>
      <hr>
    <div class="card">
      <div class="card-block">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let contact of contacts">
            <div class="row">
              <div class="col-md-1">
                <a class="pull-left" href="#">
                  <img  src="../../assets/user.jpg" class="img-circle" style="height: 50px;border-radius: 25px">
                </a>
              </div>     
              <div class="col-md-10 ">
                <span class="pull-left">{{ contact.firstName }} {{ contact.lastName}}</span>
                <br>&nbsp;
                <span>Mobile: {{ contact.mobilePhone }} </span>
                &nbsp;/&nbsp;
                <span>Home: {{ contact.homePhone }} </span>
              </div>
              <div class="col-md-1">
                  <button type="button" style="float: right" class="btn btn-secondary btn-sm" (click)="getDetails(contact.customerId)">></button>
              </div>
            </div>          
          </li>
        </ul>
      </div>
    </div>  
  </div>
  
  